doctype html
html(ng-app='titleSearch',ng-controller='main')
  head
    title= title
    link(rel='stylesheet', href='js/vendor/yeti-bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')
    script(src='/js/vendor/angular/angular.js')
    script(src='/js/app/app.js')
  body
    block content